body {background-color:#fce6b8;}
#header {background:-webkit-linear-gradient(top, #fce6b8 0%, #b29b79 100%)}
#sidebar > ul, #sidebar > ul > li {border-top:1px solid #492b17;border-bottom:1px solid #492b17;}
#sidebar > ul > li > a {color:#492b17;}
#sidebar > ul > li > a:hover {color:#fce6b8;background-color:#b29b79;}
.submenu a {color:#492b17;}
.submenu a:hover {color:#b29b79;}
#content {background:#f4ebcb;color:#492b17;}
#content-header {background:-webkit-linear-gradient(top, #f7f4e6 0%, #f4ebcb 100%);}
#content-header h1 {color:#492b17;}
#breadcrumb {background:#f7f4e6;border-top:1px solid #f4ebcb;border-bottom:1px solid #f4ebcb;}