#wrapper{
	max-width:1110px;
	margin:0 auto 12px;
	overflow:hidden;
	min-height:90%;
	box-shadow:0 0 6px 6px rgba(0,0,0,0.3);
}
#top{
	width:99%;
	margin:auto;
}
#content{
	margin-top:-18px;
	width:100%;
}
#footer{
	clear:both;
	width:100%;
	padding:15px;
}